body {
    margin: 0;
    background-color: rgb(141, 220, 223);
}

h1 {
    text-align: center;
}

main {
    background-color: rgb(134, 134, 134);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 30px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

img {
    justify-content: center;
    width: 80px;
    height: 80px;
}

button {
    border: crimson;
    padding: 10px;
    border-radius: 20px;
    margin: 1px;
    color: #000000;
    text-decoration: initial;
}

.nome {
    width: 500px;
}

.ninkNome {
    background-color: lawngreen;
    border-radius: 30px;
    text-align: center;
}
/* input[type="radio"] {
    visibility: hidden;
}

label {
display: block;
border: 4px solid #666;
width: 60px;
float: left;
}

input[type="radio"]:checked+label {
border-color: #ccf;
}
svg {
height: 50px;
} */