body{
    margin: 0;
    background-color: rgba(210, 105, 30, 0.555);
}
h1{
    text-align: center;
}
main{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

section{
    
    margin-left: auto;
    margin-right: auto;
    

    width: 200px;
    height: 90px;
    border-radius: 50px;
    
}
h2{
    text-align: center;
    margin: 0;

}

.bloco1{
    display: grid;
    justify-content: space-around;
    justify-items: stretch;
    padding: 50px;
    background-color: red;
    margin-bottom: 10px;

}
button{
    background-color: crimson;
    border: crimson;
    padding: 10px;
    border-radius: 20px;
    color: #FFFFFF;
    text-decoration: initial;
}


.bloco {
    display: grid;
    justify-content: space-around;
    justify-items: stretch;
    padding: 50px;
    background-color: aqua;
    
}
input#link{
    margin-bottom: 5px;
}