body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fundoHome.png);
}
h1{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.555);
    width: 100%;
    
}

main{
    /* width: 700px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}
input {text-transform: uppercase;}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 4em;
}

.card {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around; */
  
    padding: 50px;
    background-color: rgb(90, 241, 85);
    margin-top: 50px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.color1{
    background-color: rgb(109, 80, 238);
    color: #f7f7f7;
}
.color2{
    background-color: rgb(247, 60, 60);
    color:#f7f7f7;
}

footer>p{
    padding: 10px;
    margin: 0;
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 1.5em;
    }
    .card{
        width: 250px;
    }
   
}