body{
    margin: 0;
    background-image: url(../img/fundoHome.png);
}

main{
    width: 700px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
}
input {text-transform: uppercase;}


.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  
    padding: 50px;
    background-color: rgb(90, 241, 85);
    margin-top: 100px;
    border-radius: 10px;
}
.color1{
    background-color: rgb(109, 80, 238);
    color: #f7f7f7;
}
.color2{
    background-color: rgb(247, 60, 60);
    color:#f7f7f7;
}
.btn{
    margin-top: 5px;
    background-color: crimson;;
    padding: 10px;
    border-radius: 10px;

    color: #FFFFFF;
    text-decoration: initial;
    text-align: center;
}