@font-face {
    font-family: 'Museo300';
    src: url(Museo300-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Museo700';
    src: url(Museo700-Regular.otf) format('opentype');
}

:root{
    --Cinza: #737176;
    --Roxo: #951B81;
    --Laranja:#E6332A;
    --Azul-Marinho : #22192C;

    --fonte-padrao: 'Museo300', sans-serif;
    --fonte-destaque:'Museo700', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    font-size: 300;
}

header{
    background-image: linear-gradient(to right, #951B81, #E6332A);
    height: 100px;
    border-radius: 0 0 50px 0;
    font-family: var(--fonte-destaque);
    font-size: 700;
    color: #000;
}
.topo{
    background-image: linear-gradient(to right, #951B81, #E6332A);
}
.navegacao>a{
    text-decoration: none;
    color: #FFF;
    border: #000;
    font-size: 300;
    font-weight: 300;
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.navegacao>a:hover{
    color: #000;
}
.logo1{
    margin-top: 10px;
    margin-bottom: 1em;
    width: 100px;
}
img.logo{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 1em;
    text-align: center;
}

.cor-2{
    color: var(--Cinza);
}

.sair{
    background-color: var(--Laranja);
    
}

.termos-politica{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 600px;
    padding: 15px;
}

.cancelar{
    background-color: var(--Azul-Marinho);
}
.nome-valor{
    width: 50%;
}

input.dados{
    background-color: #E1DDDD;
    border: 0;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 1em;
    text-align: center;

    box-shadow: 1px 1px 5px 1px #000000e1;
}
.erro{
    display: none;
    color: var(--Laranja);
    font-weight: bold;
}
.btn1{
    
    background-color: var(--Azul-Marinho);
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 20px;
}
.btn1:hover{
    background-color: #22192cee;
}
.entry{
    margin: 1em 0;
}
.btn2{
    background-color: #E6332A;
    color: white;
    padding:  5px 10px;
    margin: 1em 0;
    font-size: 1.2em;
   border-radius: 20px;
}

.input1{
    width: 500px;
}

article.avatar{
    width: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img.icone{
    width: 64px;
    height: 100%;

    margin: 5px;
}
aside.icon{
    width: 64px;
    margin: 15px;
    text-align: center;
}
footer{
/* position: fixed; */

background-color: var(--Azul-Marinho);
display: flex;
justify-content: space-around;
text-align: center;

padding: 5px;
}
footer>p{
    color: white;
}
p>a{
    color:white;
}


@media only screen and (max-width: 650px){
    header{
        border-radius: 0;
        text-align: center;
        height: 100%;
    }
    img.logo{
        width: 120px;
    }
    .termos-politica{
        width: 300px;
    }
}