@font-face {
    font-family: 'Museo300';
    src: url(Museo300-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Museo700';
    src: url(Museo700-Regular.otf) format('opentype');
}

:root{
    --Cinza: #737176;
    --Roxo: #951B81;
    --Laranja:#E6332A;
    --Azul-Marinho : #22192C;

    --fonte-padrao: 'Museo300', sans-serif;
    --fonte-destaque:'Museo700', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    font-size: 300;
}

header{
    background-image: linear-gradient(to right, #951B81, #E6332A);
    height: 100px;
    border-radius: 0 0 50px 0;
    font-family: var(--fonte-destaque);
    font-size: 700;
    color: #000;
}
.logo1{
    margin-top: 10px;
    width: 100px;
}
img.logo{
    width: 250px;
    margin-top: 10px;
    text-align: center;
}

.cor-2{
    color: var(--Cinza);
}

input.dados{
    background-color: #E1DDDD;
    border: 0;
    border-radius: 12px;
    padding: 10px;
    width: 50%;
    margin-bottom: 1em;
    text-align: center;

    box-shadow: 1px 1px 5px 1px #000000e1;
}
.erro{
    display: none;
}

aside.avatar{
    width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width: 650px){
    header{
        border-radius: 0;
        text-align: center;
        height: 100%;
    }
    img.logo{
        width: 120px;
    }
}