@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ubuntu:ital,wght@1,300&display=swap');


h1{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2em;
}
.color2{
    background-color: #f73c3c;
    color:#f7f7f7;
}
.identificador{
    width: 90px;
}
.teste{
    text-align: center;
    color: brown;

}
.erro{
    color: rgb(189, 57, 57);
    font-weight: bold;
    display: none;
}
.btn{
    margin-top: 5px;
    background-color: crimson;;
    padding: 10px;
    border-radius: 10px;

    color: #FFFFFF;
    text-decoration: initial;
    text-align: center;
}
.input-radio{
    color: rgb(255, 0, 0);
    background-color: #ce2b2b;
}
