*{
    margin: 0;
}
body{
    background-image: url("../img/fundo.svg");
    margin: 0;
}

main{
    text-align: center;
    margin-top: 3em;
}
section.form-criar-sala{
    background-color: #FFFFFF;
    width: 95%;
    max-width: 844px;
    margin: auto;

    padding: 20px;
    border-radius: 64px;
}

@media only screen and (max-width: 600px) {
    section{
        width: 350px;
    }
    h1{
        font-size: 1.5em;
    }
}