*{
    margin: 0;
}
body{
    background-image: url("../img/fundo.svg");
    margin: 0;
}

main{
    text-align: center;
    margin-top: 3em;
}
section.form-criar-sala{
    background-color: #FFFFFF;
    /* margin: auto; */
    width: 300px;
    /* max-width: 700px; */
    /* padding: 20px; */
    border-radius: 64px;
}
.cria{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    section{
        width: 320px;
    }
    h1{
        font-size: 1.5em;
    }
}