form.trasfe{
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;

  padding: 20px;
  background-color: rgb(245, 222, 94);
  margin-top: 10px;

  margin-left: 50px;
  border-radius: 50px;

  margin-bottom: 20px;

  text-align: center;
}
.bloco-transfere{
  margin-left: 30px;
  width: 300px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}
.trafere{
 margin-bottom: 50px;
 margin-bottom: 100px;
}



h3.valor{
  text-align: center;
  font-size: 1.2em;
  font-family: 'Bungee Shade', cursive;
  background-color: rgba(240, 248, 255, 0.438);

  border-radius: 20px;
  padding: 3px;
}

.quem{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.4em;

  padding: 0.6em;
}

.user{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.4em;
  padding: 0.5em;
}

.text-valor{
  text-align: center;
  color: aliceblue;
  font-size: medium ;

  font-size: 1.4em;
}
input{
  border-radius: 10px;
  
}
.trasferapranois{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
