form.trasfe{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;

  padding: 20px;

  margin-top: 10px;

  
  border-radius: 50px;

  margin-bottom: 20px;

  text-align: center;
}
.trasnfere-cor-fundo{
  background-color: #C9E0E5;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  /* background-color: #fff; */
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 30px;
  outline: 0;

  display: flex;
  flex-wrap: wrap;
}
.bloco-transfere{
  margin-left: 30px;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}
.trafere{
 margin-bottom: 100px;
}
.transfere-jogador{
  display: block;
}


h3.valor{
  text-align: center;
  font-family: var(--fonte-destaque);
  color: var( --Cinza);
 
  
  padding: 3px;
}
hr{
  background-color: black;
  size: 5px;
   width: 70%;
   text-align: center;
}

.quem{
  
  text-align: center;
  font-size: 1.4em;

  padding: 0.6em;
}

.user{
  
  text-align: center;
  font-size: 1.4em;
  padding: 0.5em;
}

.text-valor{
  text-align: center;
  color: aliceblue;
  font-size: medium ;

  font-size: 1.4em;
}
input{
  border-radius: 10px;
  
}
.trasferapranois{
  display: flex;
  width: 250px;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.extra{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding-bottom: 3em;

}
